#
# Project specific excludes
#

tomcat

#
# Default excludes
*.ico
*.png
*.jpg
*.ls
*.log
*.gitignore

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
*.db

# Maven 
target/



# eclipse project file
.settings/
.classpath
.project


